nbproject/*
.idea/
.DS_Store
*.code-workspace
.phpintel
.phpintel/09efcb874c7e059457996ac8faf88fbc
.vscode

./app/especifico/
.node_modules
docker
docker-compose.yml
app/especifico/*
!.gitignore
.vendor/*
composer.lock
