.quiz-capitulos {
    color: #6a6a6a !important;
    font-size: 15px !important;
}

.quiz-pergunta {
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    line-height: 31px;
    margin-top: 4px;
    margin-bottom: 10px;
    float: left;
}

.avaliacao-pergunta {
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
    line-height: 31px;
    margin-top: 50px;
    margin-bottom: 10px;
    /* letter-spacing: -2px; */
    width: 90%;
    float: left;
}

.avaliacao-pergunta:first-child {
    margin-top: 4px;
}

.box-pergunta {
    background-color: #f6f5f5;
    position: relative;
    padding: 10px;
    float: left;
    width: 100%;
}

.box-pergunta small {
    font-size: 12px;
    color: #f6f5f5;
    position: absolute;
    top: -10px;
}

.box-pergunta a {
    width: 100%;
    float: left;
    color: #6a6a6a;
    font-size: 24px;
    transition: all .3s;
    padding: 2px;
}

.box-pergunta a:hover,
.quiz-ativo {
    background-color: #F90;
}

.box-pergunta small {
    font-size: 12px;
    color: #f6f5f5;
    position: initial;
    top: -10px;
}

.quiz-tempo {
    position: absolute;
    top: 170px;
    display: block;
    left: 50%;
    overflow: hidden;
    margin-left: -23px;
}

.quiz-ampulheta {
    width: 46px;
    height: 70px;
    position: absolute;
    top: 100px;
    display: block;
    left: 50%;
    overflow: hidden;
    margin-left: -23px;
}

.quiz-ampulheta-base {
    width: 100%;
    height: 50%;
    position: relative;
    float: left;
}

.quiz-areia {
    width: 100%;
    height: 50%;
    background-color: #CCC;
    position: absolute;
    bottom: 0px;
}

.quiz-ampulheta-mask {
    background: url(../img/ampulheta.png) no-repeat;
    width: 47px;
    height: 71px;
    z-index: 2;
    position: absolute;
}

.quiz-controle {
    width: 300px;
    position: relative;
    float: left;
    left: 50%;
    margin-left: -150px;
    margin-top: 20px;
}

.quiz-controle-bt {
    width: 80px;
    float: left;
    text-align: center;
    position: absolute;
    height: 85px;
    top: 5px;
}

.quiz-btbola {
    width: 40px;
    height: 40px;
    color: #FFF;
    border-radius: 50px;
    line-height: 45px;
    left: 50%;
    margin-left: -20px;
    position: relative;
}

.quiz-ampulheta-central {
    position: absolute;
    left: 50%;
    margin-left: -23px;
    text-align: center;
    font-size: 15px;
}

.quiz-right {
    right: 0px;
}

.quiz-left {
    left: 0px;
}

.quiz-comsidebar {
    width: 90%;
}

.quizsidebar {
    width: 10%;
    position: absolute;
    top: 0;
    right: 0px;
    padding-right: 31px;
}

.quiz-resposta {
    width: 100%;
    height: 200px;
    position: relative;
}

.quiz-bt-finalizar {
    width: 80px;
    float: left;
    text-align: center;
    position: absolute;
    height: 80px;
    top: -2px;
    border-radius: 80px;
    line-height: 82px;
    text-transform: uppercase;
    color: #FFF;
    left: 50%;
    margin-left: -40px;
}

.quiz-controle-full {
    width: 90%;
    position: relative;
    float: left;
    margin-top: 10px;
    text-align: center;
}

.box-pergunta input[type="checkbox"] {
    margin-top: 7px;
    position: relative;
    float: left;
    margin-right: 7px;
}

.box-pergunta input[type="radio"] {
    margin-top: 7px;
    position: relative;
    float: left;
    margin-right: 7px;
}